<head>
    <link rel="stylesheet" href="/static/css/editor.css">

    <script src="/static/js/modules/neural.js"></script>
    <script src="/static/js/modules/ai.js"></script>
    <script src="/static/js/modules/toolbox.js"></script>

    <script src="/static/js/main.js"></script>
</head>

<body>
    <div id="toolbox-wrapper" class="accordion">
        <div id="toolbox-toggle">
            <button id="toolbox-toggle-button" class="btn" type="button" data-toggle="collapse" data-target="#toolbox"
                aria-expanded="true" aria-controls="toolbox">
                <h5> Toggle Toolbox</h5>
            </button>
        </div>

        <div id="toolbox" class="collapse show" data-parent="#toolbox-wrapper">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="Neurons">
                    <button type="button" class="btn btn-info" onclick="ToolBox.select(NeuronTool, {neuronType: 'input'});">Input</button>
                    <button type="button" class="btn btn-info" onclick="ToolBox.select(NeuronTool, {neuronType: 'hidden'});">Hidden</button>
                    <button type="button" class="btn btn-info" onclick="ToolBox.select(NeuronTool, {neuronType: 'output'});">Output</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="General">
                    <button type="button" class="btn btn-info" onclick="ToolBox.select(ConnectionTool);">Connection</button>
                    <button type="button" class="btn btn-info" onclick="ToolBox.select(null);">Hand</button>
                </div>
            </div>
        </div>
    </div>

    <div id="appWrapper"></div>
</body>